<plugin name='elfinder' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Matthias Springer</author>
  <title>elFinder Grails Servlet Plugin</title>
  <description>This plugin wraps the elFinder servlet (https://github.com/Studio-42/elfinder-servlet-demo). It provides one single instance of that servlet!</description>
  <documentation>http://grails.org/plugin/elfinder</documentation>
  <type>ElfinderGrailsPlugin</type>
  <resources>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.mortennobel' name='java-image-scaling' version='0.8.5' />
      <dependency group='eu.medsea.mimeutil' name='mime-util' version='2.1.3' />
      <dependency group='org.apache.commons' name='commons-lang3' version='3.0' />
    </compile>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.1' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>
